img {
    --s: 80px; /* corner size */
    padding: 10px; /* the gap */
    border: 20px solid #69e78b;
    mask:
      conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
       0 0/calc(50% - var(--s)) calc(65% - var(--s)),
      conic-gradient(#000 0 0) content-box;
  }
  
  body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-content: center;
    background: #e4dacc;
  }